@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;9000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  body {
    -webkit-font-smoothing: antialiased;
  }

  :root {
    --font-sans: "Inter", sans-serif;

    /* background */
    --bg: 0 0% 100%;
    --bg-surface: 0 0% 96%;
    --bg-subtle: 0 0% 94%;
    --bg-muted: 0 0 91%;
    --bg-emphasis: 0 0% 87%;
    --bg-inverted: 0 0% 18%;

    /* background -> components*/
    --bg-info: 218 83% 98%;
    --bg-success: 134 76% 94%;
    --bg-attention: 37 86% 92%;
    --bg-destructive: 0 84.2 60.2%;
    --bg-error: 3 66% 93%;
    --bg-dark-error: 2 55% 30%;
    --bg-background-popover: 0 0 100%;

    /* Borders */
    --border: 0 0% 87%;
    --border-emphasis: 0 0% 65%;
    --border-subtle: 0 0% 91%;
    --border-muted: 0 0% 96%;
    --border-error: 0 0% 41%;

    /* Content/Text */
    --foreground: 0 0% 18%;
    --foreground-emphasis: 0 0% 27%;
    --foreground-subtle: 0 0% 43%;
    --foreground-muted: 0 0% 70%;
    --foreground-inverted: 0 0% 100%;

    /* Content/Text -> components */
    --foreground-info: 228 56% 33%;
    --foreground-success: 133 34% 24%;
    --foreground-attention: 16 62% 28%;
    --foreground-destructive: 0 84.2 60.2%;
    --foreground-error: 2 55% 30%;

    /* Brand */
    --brand: 9 72% 62%;
    --brand-emphasis: 0 0% 6%;
    --brand-text: 0 0% 100%;

    --ring: 240 10 3.9%;

    --radius: 0.5rem;
  }

  .dark,
  [data-theme="dark"] {
    /* background */

    --bg: 0 0 10%;
    --bg-surface: 0 0 12%;
    --bg-subtle: 0 0 18%;
    --bg-muted: 0 0 21%;
    --bg-emphasis: 0 0 26%;
    --bg-inverted: 0 0 96%;
    --bg-background-popover: 0 0 12%;

    /* background -> components*/
    --bg-info: 228 56 33%;
    --bg-success: 133 34 24%;
    --bg-attention: 16 62 28%;
    --bg-destructive: 0 62.8 40.6%;
    --bg-error: 2 55 30%;
    --bg-dark-error: 2 55 30%;

    /* Borders */
    --border: 0 0 22%;
    --border-emphasis: 0 0 46%;
    --border-subtle: 0 0 18%;
    --border-muted: 0 0 16%;
    --border-error: 4 63 41%;

    /* Content/Text */
    --foreground: 0 0 84%;
    --foreground-emphasis: 0 0 99%;
    --foreground-subtle: 0 0 65%;
    --foreground-muted: 0 0 34%;
    --foreground-inverted: 0 0 10%;

    /* Content/Text -> components */
    --foreground-info: 218 83 93%;
    --foreground-success: 134 76 94%;
    --foreground-attention: 37 86 92%;
    --foreground-destructive: 0 62.8 40.6%;
    --foreground-error: 3 66 93%;

    /* Brand */
    --brand: 9 72% 62%;
    --brand-emphasis: 218 11 65%;
    --brand-text: 0 0 0%;

    --ring: 240 4.9 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
