@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;9000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  body {
    -webkit-font-smoothing: antialiased;
  }

  :root {
    --font-sans: "Inter", sans-serif;

    /* background */
    --bg-emphasis: 220 13% 91%;
    --bg: 0 0% 100%;
    --bg-subtle: 220 14% 96%;
    --bg-muted: 210 20% 98.5%;
    --bg-inverted: 0 0% 6%;

    /* background -> components*/
    --bg-info: 218 83% 98%;
    --bg-success: 134 76% 94%;
    --bg-attention: 37 86% 92%;
    --bg-error: 3 66% 93%;
    --bg-dark-error: 2 55% 30%;

    /* Borders */
    --border-emphasis: 218 11% 65%;
    --border: 216 12% 84%;
    --border-subtle: 220 13% 91%;
    --border-muted: 220 14% 96%;
    --border-error: 4 63% 41%;

    /* Content/Text */
    --text-emphasis: 217 19% 27%;
    --text: 217 19% 27%;
    --text-subtle: 220 9% 46%;
    --text-muted: 218 11% 65%;
    --text-inverted: 0 0% 100%;

    /* Content/Text -> components */
    --text-info: 228 56% 33%;
    --text-success: 133 34% 24%;
    --text-attention: 16 62% 28%;
    --text-error: 2 55% 30%;

    /* Brand shinanigans
    */

    --brand: 7 89% 64%;
    --brand-emphasis: 0 0% 6%;
    --brand-text: 0 0% 100%;

    /* Components */
    --foreground: 240 10% 3.9%;

    --card: 0 0 100%;
    --card-foreground: 240 10 3.9%;

    --popover: 0 0 100%;
    --popover-foreground: 240 10 3.9%;

    --primary: 240 5.9 10%;
    --primary-foreground: 0 0 98%;

    --muted: 240 4.8 95.9%;
    --muted-foreground: 240 3.8 46.1%;

    --accent: 240 4.8 95.9%;
    --accent-foreground: 240 5.9 10%;

    --destructive: 0 84.2 60.2%;
    --destructive-foreground: 0 0 98%;

    --input: 240 5.9 92%;
    --ring: 240 10 3.9%;

    --radius: 0.5rem;
  }

  .dark,
  [data-theme="dark"] {
    /* background */

    --bg-emphasis: 0 0 25%;
    --bg: 0 0 10%;
    --bg-subtle: 0 0 18%;
    --bg-muted: 0 0 12%;
    --bg-inverted: 220 14 96%;

    /* background -> components*/
    --bg-info: 228 56 33%;
    --bg-success: 133 34 24%;
    --bg-attention: 16 62 28%;
    --bg-error: 2 55 30%;
    --bg-dark-error: 2 55 30%;

    /* Borders */
    --border-emphasis: 0 0 46%;
    --border: 0 0 28%;
    --border-subtle: 0 0 22%;
    --border-muted: 0 0 18%;
    --border-error: 4 63 41%;

    /* Content/Text */
    --text-emphasis: 240 20 99%;
    --text: 0 0 84%;
    --text-subtle: 0 0 65%;
    --text-muted: 0 0 34%;
    --text-inverted: 0 0 10%;

    /* Content/Text -> components */
    --text-info: 218 83 93%;
    --text-success: 134 76 94%;
    --text-attention: 37 86 92%;
    --text-error: 3 66 93%;

    /* Brand shenanigans
      -> These will be computed for the users theme at runtime.
    */
    --brand: 7 89 64%;
    --brand-emphasis: 218 11 65%;
    --brand-text: 0 0 0%;

    --foreground: 0 0 98%;

    --card: 240 10 3.9%;
    --card-foreground: 0 0 98%;

    --popover: 0 0 12%;

    --primary: 0 0 98%;
    --primary-foreground: 240 5.9 10%;

    --muted: 240 3.7 15.9%;
    --muted-foreground: 240 5 64.9%;

    --accent: 240 3.7 15.9%;
    --accent-foreground: 0 0 98%;

    --destructive: 0 62.8 30.6%;
    --destructive-foreground: 0 0 98%;

    --input: 240 3.7 20.9%;
    --ring: 240 4.9 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
